body {
  background: rgb(253, 203, 239);
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS";
  font-size: 1em;
  text-align: center;
}
header {
  background: rgb(253, 167, 229);
  position: relative;
  text-align: center;
}
h1 {
  color: blueviolet;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}

h2 {
  text-align: center;
}

img {
  max-width: 50%;
  height: auto;
}
.banner {
  max-width: 100%;
  height: auto;
  margin: 0px;
  align-items: center;
}

.image {
  color: blueviolet;
}
.info {
  margin-left: 20px;
}

.nat {
  @keyframes rotate360 {
    to {
      transform: rotate(360deg);
    }
  }
  animation: rotate360 4s linear infinite;
}
